*{
	/* no wasted space */
	padding:0;
	margin:0;
	/*border:1px solid #FFB000;/**/
	box-sizing: border-box;
	outline:0;
}
body{
	/* no scrollbars */
	overflow: hidden;
}
#popup{
	position: absolute;
	left : 0px;
	top : -10px ;
	/*background:#FFFFFFc0;*/
	border-radius: 30px;
	border:#000 solid 4px;
	/*filter: blur(5px);*/
}
#popup header {
	margin:5px 5px 0 5px;
}
#popup footer{
	text-align:center;
}
#popup header h2{
	float:left;
}
#popup header #control_toggle{
	float:right;
}
#popup main{
	clear:both;
}
.dragged{
	background:#FFFFFFc0;
	box-shadow: 10px 10px 32px -1px rgba(0, 0, 0, 1);
	opacity:0.5;
}
.dropped{
	background:#FFFFFFc0;
	box-shadow: 10px 10px 32px -1px rgba(0, 0, 0, 0.1);
}

#popup{
	cursor: move;
}

#popup:active{
	cursor: cell;
}

#popup form *{
	cursor: pointer;
}
#popup form *:not(fieldset):hover{
	background:#eee;
}
#popup form fieldset{
	font-weight: bold; 
	background: #ccc;
}
