*{
	/* no wasted space */
	padding:0;
	margin:0;
	/*border:1px solid #FFB000;/**/
	box-sizing: border-box;
	outline:0;
}
body{
	/* no scrollbars */
	overflow: hidden;
}
#popup{
	position: absolute;
	left : 90px;
	top : 90px ;
	background:#ffffff80;
	border-radius: 30px;
	border:#FFB000 solid 4px;
}
#popup header {
	margin:5px 5px 0 5px;
}
#popup footer{
	text-align:center;
}
#popup header h2{
	float:left;
}
#popup header #control_toggle{
	float:right;
}
#popup main{
	clear:both;
}
