a *{
	padding:0;
	margin:0;
	box-sizing: border-box;
	outline:0;
	font-family:consolas, monospace;
}
body{
	/* no scrollbars */
	overflow: hidden;
}
#popup{
	position: absolute;
	left : 0px;
	top : -10px ;
	/*background:#FFFFFFc0;*/
	border-radius: 30px;
	border:#000 solid 4px;
	/*filter: blur(5px);*/
}
#popup header {
	margin:5px 5px 0 5px;
}
#popup footer{
	text-align:center;
}
#popup header h2{
	float:left;
}
#popup header #control_toggle{
	float:right;
}
#popup main{
	clear:both;
}
.dragged{
	background:#FFFFFFc0;
	box-shadow: 10px 10px 32px -1px rgba(0, 0, 0, 1);
	opacity:0.5;
}
.dropped{
	background:#FFFFFFc0;
	box-shadow: 10px 10px 32px -1px rgba(0, 0, 0, 0.1);
}

#popup{
	cursor: move;
	width :320px;
}

#popup:active{
	cursor: cell;
}

#popup form *{
	cursor: pointer;
}

#popup form label:hover{
	background:#eee;
	text-decoration: underline;
}
#popup form fieldset legend{
	font-weight: bold; 
	background: #ccc;
}
#popup form fieldset label{
	margin-left:5px;
}



/*I did this on my own. It behaves  like some blocks in Yoshi's island. 100% proud*/
@keyframes bubblegum {
	from {transform: scale(1, 1);}
	25% {transform: scale(1.6, 0.6);}
	50% {transform: scale(0.6, 1.6);}
	75% {transform: scale(1.6, 0.6);}
	to {transform: scale(1, 1);}
}
.behaveLikeBubblegum:active {
	animation-name: bubblegum;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	background:#ff44cc;
}

.transition_static {
	transition:all .25s ease-in-out;
	opacity:1;
	display:inline;
	filter: blur(0px);
}

.transition_opacity {
	opacity:0.9;
	filter: blur(2px);
}

.transition_hidden {
	display:none;
}
